@charset "utf-8";

/*
This css styles the marker for the map. 
* First section   | the GENERAL STYLING and the fallback styles for the PIN. 
* Second section  | the PULSE CLASS for the bottom pulsing div
* Third section   | the ANIMATION for both the PIN and the PULSE
* Fourth section  | CUSTOMIZATION for the PIN content and color
* Fifth section   | EXTRA ANIMATION for landing page contents
* Sixth section   | Media queries for extra sizing on various devices

the reference which has been used to build this can be found here
      http://codepen.io/andreasstorm/pen/ClguF
      
*/
/*********************************/ 
/******   POIs WATERDROPS   ******/
/*********************************/ 

  .pin-cont {                         /*this is meant to create an extra external container for positioning the pin and extra effects (like rotation) */
    position:absolute;
    z-index:3;
    -webkit-webkit-: transition: all 0.5s ease-in-out;
    -moz-webkit-: transition: all 0.5s ease-in-out;
    -ms-webkit-: transition: all 0.5s ease-in-out;
    -o-webkit-: transition: all 0.5s ease-in-out;
    webkit-: transition: all 0.5s ease-in-out;
    }
    
  .pin {                                      /* main pin shape*/
    width: 20px;  height: 20px;             /* pin sizes*/
    -webkit-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    background: #9e1d20;                    /* fallback background-color */
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 50%;  top: 50%;                   /*centering in div*/
    margin: -20px 0 0 -20px;
    z-index:5;
    }

  .pin:after {                        /* pin content*/
    content: '\f067';                       /* fallback content text */
    font-family:fontAwesome;                /*this call for the use of fontAwesome*/
    color:#9d1e20;
    font-size: 0.7em;
    width: 14px;  height: 14px;
    margin: 3px 0 0 3px;
    background: #f5f5f5;
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    line-height: 16px;                  /*fallback line-height in case it's needed*/
    z-index:6;
    }

/*************************************************/
/*          PULSE ITEM AS STATIC OBJECT          */
/*************************************************/

  .pulse {                        /*this manage the SHADOW of the pin */
    background: rgba(0,0,0,0.2);            /*color for pulse and shadow*/
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 15px; width: 15px;            /*sizes for the shadow*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2px 0px 0px -18px;             /*precision positioning for shadow*/
    -webkit-transform: rotateX(55deg);
    -moz-transform: rotateX(55deg);
    -o-transform: rotateX(55deg);
    -ms-transform: rotateX(55deg);
    transform: rotateX(55deg);
    z-index:4;
   }
  .pulse:after {                      /*this manage the PULSE of the pin as static*/
    content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    margin: -8px 0 0 -8px;
    z-index:5;
    opacity: 0;
    -webkit-box-shadow: 0 0 1px 2px #A26E71;      /*pulsating shadow color*/
    box-shadow: 0 0 1px 2px #A26E71;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    }

/*************************************************/
/***   ANIMATIONS CALLS FOR PIN AND PULSE      ***/
/*************************************************/

  .pin {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    -ms-animation-name: bounce;
    animation-name: bounce;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    }
  .pulse:after {
    -webkit-animation: pulsate 1s ease-out;
    -moz-animation: pulsate 1s ease-out;
    -o-animation: pulsate 1s ease-out;
    -ms-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    animation-delay: 1.1s;
    }
    
  /*basic pins animations keyframes*/  
  
/*************************************************/
/*    CUSTOMIZATIONS FOR PIN CONTENT & COLORS    */
/*************************************************/
  /*
  how to:
  <name> = name of the class for the point of interest category

  * .pin.<name>       sets the primary color
  * .pin.<name>:after   sets the icon (see fontAwesome cheatsheet) and color
  * .pulse.<name>:after sets the matching shadow-color for the pulse effect 

  to get the white circle leave the properties as they are (just change content and color)
  to remove the white circle add a background color to .pin.<name>:after matching the main color


  */

  /*** pin DANGERS ***/
    .pin.dangers {background:red}             /*primary color*/
    .pin.dangers:after {
      content:'\f071';                /*icon | see fontawesome cheatsheet*/
      color:white;                    /*icon text color*/
      background:red;                 /*icon circle background color*/  
      z-index:10;
    }
    .pulse.dangers:after {
      -webkit-box-shadow: 0 0 1px 2px red;      /*pulsating shadow color*/
      box-shadow: 0 0 1px 2px red;
    }
  /*** pin DOG area ***/
    .pin.dog {background:#00AF13}             /*primary color*/
    .pin.dog:after {
      content:'\f1b0';                /*icon | see fontawesome cheatsheet*/
      color:#00AF13;                  /*icon text color*/
      }
    .pulse.dog:after {
        -webkit-box-shadow: 0 0 1px 2px #00AF13;      /*pulsating shadow color*/
        box-shadow: 0 0 1px 2px #00AF13;
    }
  /*** pin FRIEND ***/
    .pin.friend {background:#42D7B9}              /*primary color*/
    .pin.friend:after {
      content:'\f1ae';                /*icon | see fontawesome cheatsheet*/
      color:#42D7B9;                  /*icon circle background color*/
      }
    .pulse.friend:after {
      -webkit-box-shadow: 0 0 1px 2px #42D7B9;      /*pulsating shadow color*/
      box-shadow: 0 0 1px 2px #42D7B9;
    }
  /*** pin INFOrmation ***/
    .pin.info {background:#82A0CF}              /*primary color*/
    .pin.info:after {
      content:'\f129';                /*icon | see fontawesome cheatsheet*/
      color:white;                  /*icon text color*/
      background:#82A0CF;                 /*icon circle background color*/
     }
    .pulse.info:after {
      -webkit-box-shadow: 0 0 1px 2px #82A0CF;      /*pulsating shadow color*/
      box-shadow: 0 0 1px 2px #82A0CF;
    }
  /*** pin VET clinic ***/
    .pin.vet {background:purple;}
    .pin.vet:after {content:'\f0f1'; color:purple}
    .pulse.vet:after {
      -webkit-box-shadow: 0 0 1px 2px purple;     /*pulsating shadow color*/
      box-shadow: 0 0 1px 2px #purple;
    }
  /*** pin HOME ***/
    .pin.home {background:#636363;}
    .pin.home:after {content:'\f015'; color:#636363}
    .pulse.home:after {
      -webkit-box-shadow: 0 0 1px 2px #636363;      /*pulsating shadow color*/
      box-shadow: 0 0 1px 2px #636363;
    }
  /*** pin pet SHOP ***/
    .pin.shop {background:#E98A01;}
    .pin.shop:after {content:'\f07a'; color:#E98A01}
    .pulse.shop:after {
        -webkit-box-shadow: 0 0 1px 2px #E98A01;      /*pulsating shadow color*/
        box-shadow: 0 0 1px 2px #E98A01;
    }  
  /*** pin HOTEL ***/
    .pin.hotel {background:#E000A0;}
    .pin.hotel:after {content:'\f236'; color:#E000A0;}
    .pulse.hotel:after {
      -webkit-box-shadow: 0 0 1px 2px #E000A0;      /*pulsating shadow color*/
      box-shadow: 0 0 1px 2px #E000A0;
    }
  /*** pin FOOD ***/
    .pin.food {background:#E87BE1;}
    .pin.food:after {content:'\f0f5'; color:#E87BE1}
    .pulse.food:after {
      -webkit-box-shadow: 0 0 1px 2px #E87BE1;      /*pulsating shadow color*/
      box-shadow: 0 0 1px 2px #E87BE1;
    }
  /*** pin AUTO ***/
    .pin.auto {background:#3331F3;}
    .pin.auto:after {content:'\f1b9'; color:#3331F3}
    .pulse.auto:after {
      -webkit-box-shadow: 0 0 1px 2px #3331F3;      /*pulsating shadow color*/
      box-shadow: 0 0 1px 2px #3331F3;
    }
  /*** pin pet TRAINER ***/
    .pin.trainer {background:#E98A01;}
    .pin.trainer:after {content:'\f19d'; color:#E98A01}
    .pulse.trainer:after {
        -webkit-box-shadow: 0 0 1px 2px #E98A01;      /*pulsating shadow color*/
        box-shadow: 0 0 1px 2px #E98A01;
    }  


  .pin-cont.opaque {                              /*adds opacity to pin-cont*/
    opacity:0.7;
  }
  .pin.favs:before {                              /*adds fav star on pin*/
    content:'\f005';
    font-family: fontAwesome;
    position:relative;
    width:5px;
    height:5px;
    font-size:1em;
    top:-6px;
    left:15px;
    z-index:60;
    color:#D9C509;
  }

/*************************************************/
/*        CUSTOMIZATIONS FOR PIN POSITION        */
/*************************************************/
  /*
  this is meant for the landing page 
  sets the position for the PIN CONTainers on the map so that they can be placed around a fake map
  add the NUMBER class at the .pin-cont element to set its position
  in case it's needed add a Z-INDEX property to manage pins' visibility
  */

  /*list of custom position */

  .pin-cont.pin1 {          /*home pin*/
    top:43.25%;
    right:35.55%;
  }
  .pin-cont.pin2 {          /*alert 1 pin*/
    top:32.845%;
    right:36.875%;
  }
  .pin-cont.pin3 {          /*alert 2 pin*/
    top:43.365%;
    right:41.754%;
  }
  .pin-cont.pin4 {          /*info 1 pin */
    top:23.548%;
    right:31.541%;
  }
  .pin-cont.pin5 {          /*info 2 pin*/
    top:50.571%;
    right:32.875%;
  }
  .pin-cont.pin6 {          /*info point*/
    top:58.545%;
    right:48.975%;
  }
  .pin-cont.pin7 {          /*info point*/
    top:29.457%;
    right:33.545%;
    z-index:4;
  }
  .pin-cont.pin8 {          /*info 1 pin */
    top:51.545%;
    right:23.548%;
  }
  .pin-cont.pin9 {          /*info 2 pin*/
    top:52.54%;
    right:37.25%;
  }
  .pin-cont.pin10 {         /*info point*/
    top:66.521%;
    right:43.215%;
  }
  .pin-cont.pin11 {         /*info point*/
    top:57.655%;
    right:40.567%;
  }
  .pin-cont.pin12 {         /*info point*/
    top:36.25%;
    right:29.54%;
  }
  .pin-cont.pin13 {         /*info point*/
    top:62.5%;
    right:28.35%;
  }
  .pin-cont.pin14 {         /*info point*/
    top:27.5%;
    right:41.3%;
  }
  .pin-cont.pin15 {         /*info point*/
    top:67.5%;
    right:23.5%;
  }
  .pin-cont.pin16 {         /*info point*/
    top:23.5%;
    right:22.4%;
  }
  .pin-cont.pin17 {         /*info point*/
    top:74.5%;
    right:47.5%;
  }
  .pin-cont.pin18 {         /*info point*/
    top:73.25%;
    right:32.4%;
  }
  .pin-cont.pin19 {         /*info point*/
    top:76.4%;
    right:37.5%;
  }
  .pin-cont.pin20 {         /*info point*/
    top:35.4%;
    right:21.3%;
  }
  .pin-cont.pin21 {         /*info point*/
    top:54.4%;
    right:45.3%;
  }
  .pin-cont.pin22 {         /*info point*/
    top:39.5%;
    right:33%;
  }
  .pin-cont.pin23 {         /*info point*/
    top:66%;
    right:38%;
  }

/*************************************************/
/*        EXTRA ANIMATIONS FOR LANDING PAGE      */
/*************************************************/


  @keyframes shadow {from {opacity:0} to {opacity:0.7}}
  .pin {                                  /*this manages the general timing for the pins to come down*/  
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
   }
  .pulse {                                /*this load the animation for the bottom shadow (pulse)*/
    opacity:0;                        /*this is for the animation to function*/  
    -webkit-animation: shadow 0.2s 1.6s linear forwards;
    -moz-animation: shadow 0.2s 1.6s linear forwards;
    -o-animation: shadow 0.2s 1.6s linear forwards;
    -ms-animation: shadow 0.2s 1.6s linear forwards;
    animation: shadow 0.2s 1.6s linear forwards;
    }
  .pulse:after {                          /*this sets the delay for the pulse to be seen*/
    -webkit-animation-delay: 2.6s;
    -moz-animation-delay: 2.6s;
    -o-animation-delay: 2.6s;
    -ms-animation-delay: 2.6s;
    animation-delay: 2.6s;
   }

/*************************************************/
/*         MEDIA QUERIES FOR SMALL DEVICE        */
/*************************************************/

  @media screen and (max-width:600px) {

    .pin {                                      /* main pin shape*/
      width: 12px;  height: 12px;             /* pin sizes*/
      left: 50%;  top: 50%;                   /*centering in div*/
      margin: -10px 0 0 -15px;
      }

    .pin:after {                        /* pin content*/
      font-size: 0.4em;
      width: 10px;  height: 10px;
      margin: 1px 0 0 1px;
      line-height: 10px;                  /*fallback line-height in case it's needed*/
      }

    .pulse {                        /*this manage the SHADOW of the pin */
      height: 7px; width: 7px;            /*sizes for the shadow*/
      margin: 2px 0px 0px -13px;             /*precision positioning for shadow*/
     }
    .pulse:after {                      /*this manage the PULSE of the pin as static*/
      height: 12px;
      width: 12px;
      margin: -2px 0 0 -2px;
      }

/*************************************************/
/*          ANIMATIONS FOR PINS AND PULSE        */
/*************************************************/
  @-moz-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      -moz-transform: scale(0.1, 0.1);
      -o-transform: scale(0.1, 0.1);
      -ms-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
  @-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      -moz-transform: scale(0.1, 0.1);
      -o-transform: scale(0.1, 0.1);
      -ms-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
  @-o-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      -moz-transform: scale(0.1, 0.1);
      -o-transform: scale(0.1, 0.1);
      -ms-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
  @keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      -moz-transform: scale(0.1, 0.1);
      -o-transform: scale(0.1, 0.1);
      -ms-transform: scale(0.1, 0.1);
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
  @-moz-keyframes bounce {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transform: translateY(-2000px) rotate(-45deg);
      -moz-transform: translateY(-2000px) rotate(-45deg);
      -o-transform: translateY(-2000px) rotate(-45deg);
      -ms-transform: translateY(-2000px) rotate(-45deg);
      transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transform: translateY(30px) rotate(-45deg);
      -moz-transform: translateY(30px) rotate(-45deg);
      -o-transform: translateY(30px) rotate(-45deg);
      -ms-transform: translateY(30px) rotate(-45deg);
      transform: translateY(30px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -moz-transform: translateY(-10px) rotate(-45deg);
      -o-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
    }
  }
  @-webkit-keyframes bounce {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transform: translateY(-2000px) rotate(-45deg);
      -moz-transform: translateY(-2000px) rotate(-45deg);
      -o-transform: translateY(-2000px) rotate(-45deg);
      -ms-transform: translateY(-2000px) rotate(-45deg);
      transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transform: translateY(30px) rotate(-45deg);
      -moz-transform: translateY(30px) rotate(-45deg);
      -o-transform: translateY(30px) rotate(-45deg);
      -ms-transform: translateY(30px) rotate(-45deg);
      transform: translateY(30px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -moz-transform: translateY(-10px) rotate(-45deg);
      -o-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
    }
  }
  @-o-keyframes bounce {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transform: translateY(-2000px) rotate(-45deg);
      -moz-transform: translateY(-2000px) rotate(-45deg);
      -o-transform: translateY(-2000px) rotate(-45deg);
      -ms-transform: translateY(-2000px) rotate(-45deg);
      transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transform: translateY(30px) rotate(-45deg);
      -moz-transform: translateY(30px) rotate(-45deg);
      -o-transform: translateY(30px) rotate(-45deg);
      -ms-transform: translateY(30px) rotate(-45deg);
      transform: translateY(30px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -moz-transform: translateY(-10px) rotate(-45deg);
      -o-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
    }
  }
  @keyframes bounce {
    0% {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -webkit-transform: translateY(-2000px) rotate(-45deg);
      -moz-transform: translateY(-2000px) rotate(-45deg);
      -o-transform: translateY(-2000px) rotate(-45deg);
      -ms-transform: translateY(-2000px) rotate(-45deg);
      transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transform: translateY(30px) rotate(-45deg);
      -moz-transform: translateY(30px) rotate(-45deg);
      -o-transform: translateY(30px) rotate(-45deg);
      -ms-transform: translateY(30px) rotate(-45deg);
      transform: translateY(30px) rotate(-45deg);
    }
    80% {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -moz-transform: translateY(-10px) rotate(-45deg);
      -o-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
    100% {
      -webkit-transform: translateY(0) rotate(-45deg);
      -moz-transform: translateY(0) rotate(-45deg);
      -o-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
    }
  }